body, html {
  padding:0;
  margin:0;
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: black;
}
::-webkit-scrollbar { 
      display: none;
}
.project {
  padding: 0px;
}
.description-container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index:120;
}
.project .description {
  color: white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
}
.faded {
  opacity: 0;
}
.project * {
  transition: opacity 0.5s linear;
}
.picture {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2;
}
/*.project.well {
  padding: 0px;
}
.well {
  background: white; /* For browsers that do not support gradients */
/*  background: -webkit-radial-gradient(white 10%, #028DEA 70%); /* Safari 5.1 to 6.0 */
/*  background: -o-radial-gradient(white 10%, #028DEA 70%); /* For Opera 11.6 to 12.0 */
/*  background: -moz-radial-gradient(white 10%, #028DEA 70%); /* For Firefox 3.6 to 15 */
/*  background: radial-gradient(white 10%, transparent 80%); /* Standard syntax */
/*  border:none;
  border-radius:20%;
  overflow:hidden;
} 
*/
